* {
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	padding: 0;
	margin: 0;
	border: 0;
}

body {
}

.page {
}

.progress {
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 40%;
}

.progress-bar {
	height: 30px;
	background: #026aa7;
	border-radius: 3px;
	position: relative;
}

.progress-bar-complete {
	height: 100%;
	background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
}

.progress-bar-percent {
	position: absolute;
	left: 0;
	top: 7px;
	right: 0;
	text-align: center;
	font-size: 14px;
	color: white;
	font-weight: bold;
}

.progress-text {
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #4d4d4d;
}

.header {
	overflow: auto;
	margin: 20px;
}

.header select {
	float: left;
	margin-right: 10px;
	font-size: 14px;
	color: #4d4d4d;
	background: white;
	padding: 10px;
	border: solid 1px #cccccc;
}

.board {
}

.board-row {
	margin-bottom: 20px;
	overflow: auto;
	margin-left: 10px;
	margin-right: 10px;
}

.board-col {
	float: left;
}

.board-col-20p {
	width: 20%;
}

.board-col-50p {
	width: 50%;
}

.board-col-80p {
	width: 80%;
}

.board-col-100p {
	width: 100%;
}

.board-widget {
	border: solid 1px #D6DADC;
	margin-left: 10px;
	margin-right: 10px;
}

.board-header {
	padding: 15px;
}

.board-header h3 {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #4d4d4d;
}





.navbar {
	overflow: auto;
	background: #026aa7;
	height: 30px;
	overflow: hidden;
	padding: 5px;
}

.navbar > * {
	float: left;
	margin-right: 5px;
}

.navbar > .right {
	float: right;
	margin-left: 5px;
	margin-right: 0;
}

.navbar > .menu > a {
	border-radius: 3px;
	color: #f3f3f3;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	background: red;
	padding: 7px;
	background: #4D97C1;
}

.navbar > .menu > a:hover {
	background: #62A2C8;
}

.navbar > .menu > .popover {
	background: #fff;
	border-radius: 3px;
	border: 1px solid #d6dadc;
	border-bottom-color: #c4c9cc;
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	overflow: hidden;
	position: absolute;
	min-width: 300px;
	z-index: 20;
	display: none;
	top: 42px;
}

.navbar > .right  .popover {
	right: 0;
}

.navbar > .menu > .popover > a {
	display: block;
	font-weight: 700;
	padding: 6px 10px;
	position: relative;
	text-decoration: none;
	color: #444;
	font-size: 14px;
}

.navbar > .menu > .popover > a:hover {
	background: #298fca;
	color: white;
}

.title {
	color: #4d4d4d;
	background: #EDEFF0;
	border-bottom: solid 1px #D6DADC;
	padding: 20px;
	font-size: 16px;
	font-weight: 700;
}
