* {
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	background: #EDEFF0;
}



/* PROGRESS BAR */

.prog {
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 40%;
}

.prog-bar {
	height: 30px;
	background: #026aa7;
	border-radius: 3px;
	position: relative;
}

.prog-bar-complete {
	height: 100%;
	background: linear-gradient(to bottom,rgba(255,255,255,.3) 0,rgba(255,255,255,.2) 100%);
}

.prog-bar-percent {
	position: absolute;
	left: 0;
	top: 7px;
	right: 0;
	text-align: center;
	font-size: 14px;
	color: white;
	font-weight: bold;
}

.prog-text {
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #4d4d4d;
}



/* NAVBAR */

.navbar {
	background: #026aa7;
	min-height: 40px !important;
	border-radius: 0;
	box-shadow: 0;
	border: 0;
	margin: 0;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top: 10px !important; 
    padding-bottom: 0 !important;
    height: 40px;
}

.navbar-default .navbar-nav>li>a {
	color: #f3f3f3;
	font-weight: 700;
	font-size: 14px;
	text-shadow: none;
}

.navbar-default .navbar-nav>li>a:hover {
	color: #f3f3f3;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
	color: #f3f3f3;
    background: #4D97C1;
}

.dropdown-menu>li>a {
	color: #444;
	font-weight: 700;
	font-size: 14px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background: #026aa7;
	color: #f3f3f3;
}



/* TITLE */

.title {
	overflow: auto;
	padding: 20px;
}

.title * {
	color: #4d4d4d;
}

.title .title-icon {
	float: left;
	font-size: 40px;
}

.title .title-text {
	float: left;
	margin-left: 15px;
}

.title .title-text h1 {
	font-weight: 700;
	font-size: 20px;
	margin: 0;
	margin-bottom: 5px;
}

.title .title-text h2 {
	font-weight: normal;
	font-size: 14px;
	margin: 0;
}



/* BOARD */

.board {
}

.board-row {
	margin-bottom: 20px;
	overflow: auto;
	margin-left: 10px;
	margin-right: 10px;
}

.board-col {
	float: left;
}

.board-col-20p {
	width: 20%;
}

.board-col-50p {
	width: 50%;
}

.board-col-80p {
	width: 80%;
}

.board-col-100p {
	width: 100%;
}

.board-widget {
	border: solid 1px #D6DADC;
	margin-left: 10px;
	margin-right: 10px;
}

.board-header {
}

.board-header h3 {
	margin: 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #4d4d4d;
	padding: 15px;
	background: white;
}

.board-chart {
	overflow: hidden;
}